body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #25282a;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100%;
    margin: auto;
    padding-top: 1vh;
}

.slider {
    height: 70%;
    width: 100%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    width: 500%;
}



.slide {
    /*height: 100%;*/
    width: 20%;
    /*transform: translateX(-100%);*/
}
img {
    width: 100%;
    border-radius: 10px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    /*height: 10%;*/
}

.meme-container {
    display: flex;
    width: 70%;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 10%;
}

.dots {
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

input {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
}

.dot {
    position: absolute;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    width: 22px;
    height: 22px;
    background-color: #71abff;
    transition: all .2s ease-in-out;
}

.dots:hover .dot {
    background-color: #fff;
}

.dot::before {
    content: "";
    display: block;
    position: absolute;
    background-color: inherit;
    border-radius: 50%;
    /*top: 7px;*/
    /*left: 7px;*/
    /*background-color: #71abff;*/
    cursor: pointer;
    width: 22px;
    height: 22px;
    z-index: 1;
}

.dot::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #25282a;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    z-index: 10;
    opacity: 0;
}

.controls:checked + .dot::after {
    opacity: 1;
    /*z-index: 2;*/
}
